.tableHead {
    background-color: #6ddaff;
}

.table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.85);
}

.table td {
    text-align: center;
}

.table tr {
    height: 3rem;
}

.table tr:hover:not(:first-child) {
    background-color: lightgrey;
    border: 1px solid #ddd;

}

.overflow_div{
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.dashboard_link{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.dashboard_link a {
    text-decoration: none;
    font-size: 3rem;
}

.dashboard_link a:visited {
    color: black
}

@media screen and (max-width: 500px) {
    .table{
        width: 100%;
    }
    .dashboard_link{
        width: 100%;
    }
    
}